* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: DejaVu Sans Mono, monospace;
}
#input {
    width: 235px;
}
.calculator-box {
    margin-left:30%;
    margin-right:30%;
    margin-top: 10%;
    background-color: #4CAF50;;
    font-size: 50px;
    min-width: 312px;
}
.first-row {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
/*     padding-top: 10px;
    padding-bottom: 10px; */
/*     border: 1px solid white; */
/*     padding-left: 20px;
    padding-right: 20px; */
}

.second-row {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
/*     padding-top: 10px;
    padding-bottom: 10px; */
    /* border: 1px solid white; */
}

.third-row {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
/*     padding-top: 10px;
    padding-bottom: 10px; */
    /* border: 1px solid white; */
}

.fourth-row {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
/*     padding-top: 10px;
    padding-bottom: 10px; */
    /* border: 1px solid white; */

}

.fifth-row {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
/*     padding-top: 10px;
    padding-bottom: 10px; */
    /* border: 1px solid white; */
}

button, input {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 20px;
  }

.clear-button {
    margin-right: 20px;
}